* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;     
    min-height: 100vh; 
}

.card {
    background-color: white;
    width: 400px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    gap: 15px;
}
.cardbody{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
.btn{
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #444;
}